<h4 class="color-black">Current Project Team</h4>

<div class="resource-list">
    <div class="leader-card">
        <a href="https://github.com/ExperimentsInHonesty" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/ExperimentsInHonesty">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/UE1UG1YFP" target="_blank" title="Slack Direct Message">Bonnie
                    Wolfe</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Agile Coach/Stakeholder Rep
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/akibrhast" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/akibrhast">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/U01L4FXN1T7" target="_blank" title="Slack Direct Message">Akib
                    Rahman</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Technical Lead
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/cnk" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/cnk">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/USBB18YDR" target="_blank"
                    title="Slack Direct Message">Cynthia Kiser</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Technical Advisor
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/drubgrubby" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/drubgrubby">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/U015FP47R5G" target="_blank"
                    title="Slack Direct Message">David Rubinstein</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Technical Lead
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/daniellex0" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/daniellex0">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/U013U4VN8V7" target="_blank"
                    title="Slack Direct Message">Danielle Nedivi</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Design Lead
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/IAgbaje" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/IAgbaje">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/U01FKL1DN48" target="_blank"
                    title="Slack Direct Message">Ibraheem Agbaje</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Product Manager
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/pawan92" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/pawan92">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/U01FMQTN8MU" target="_blank"
                    title="Slack Direct Message">Pawan Murthy</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Product Manager
            </p>
        </div>
    </div>

    <div class="leader-card">
        <a href="https://github.com/Sihemgourou" target="_blank" title="GitHub Profile">
            <img class="leader-img" src="https://avatars.githubusercontent.com/Sihemgourou">
        </a>
        <div class="leader-description">
            <p class="leader-description-field">
                <strong>Name: </strong>
                <a href="https://hackforla.slack.com/team/U021GM545UG" target="_blank"
                    title="Slack Direct Message">Sihem Gourou</a>
            </p>
            <p class="leader-description-field">
                <strong>Role: </strong>Product Manager
            </p>
        </div>
    </div>

</div>