<footer class="main-footer">
    <div class="footer-contain">
        <nav class="footer-nav">
            <div class="header-links">
                <a href="/donate/" target="_blank"><button
                        class="btn btn-primary-on-dark btn-md-narrow btn--donate-footer">Donate</button></a>
                <div class="footer-links">
                    <div class="credits-page"><a href="/credits">Credits</a>&nbsp;|&nbsp;<a
                            href="/sitemap">Sitemap</a>&nbsp;|&nbsp;<a href="/join">Join Us</a></div>
                    <ul class="inline-list header-list">
                        <li>
                            <a href="https://www.meetup.com/hackforla/" rel="noopener" target="_blank"
                                class="js-inline-link js-inline-link-meetup">
                                {% include svg/icon-meetup.svg %}
                                <span class="sr-only">Meetup</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/HackForLA" rel="noopener" target="_blank"
                                class="js-inline-link js-inline-link-twitter">
                                {% include svg/icon-twitter.svg %}
                                <span class="sr-only">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://hackforla-slack.herokuapp.com/" rel="noopener" target="_blank"
                                class="js-inline-link js-inline-link-slack">
                                {% include svg/icon-slack.svg %}
                                <span class="sr-only">Slack</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/hackforla" rel="noopener" target="_blank"
                                class="js-inline-link js-inline-link-facebook">
                                {% include svg/icon-facebook.svg %}
                                <span class="sr-only">Facebook</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://medium.com/hack-for-la" rel="noopener" target="_blank"
                                class="js-inline-link js-inline-link-medium">
                                {% include svg/icon-medium.svg %}
                                <span class="sr-only">Medium</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://github.com/hackforla" rel="noopener" target="_blank"
                                class="js-inline-link js-inline-link-github">
                                {% include svg/icon-github.svg %}
                                <span class="sr-only">Github</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>