<div class="page-card card-primary page-card-lg page-card--project-description-page">
    <h4 class="project-page-card-title">Resources</h4>
    <ul class="resource-list unstyled-list">
        <a href="https://hackforla.slack.com/archives/C4UM52W93" target="_blank" class="resource-link">
            <li class="resource-card">
                <!--Where the images will be-->
                <div class="resource-img">
                    {% include svg/icon-slack-color.svg %}
                </div>
                <div class="resource-body">
                    <h4 class="resource-title">
                        Slack
                    </h4>
                </div>
            </li>
        </a>
        <a href="https://github.com/hackforla/website" target="_blank" class="resource-link">
            <li class="resource-card">
                <!--Where the images will be-->
                <div class="resource-img">
                    {% include svg/icon-github-color.svg %}
                </div>
                <div class="resource-body">
                    <h4 class="resource-title">
                        GitHub
                    </h4>
                </div>
            </li>
        </a>
        <a href="https://www.hackforla.org" target="_blank" class="resource-link">
            <li class="resource-card">
                <!--Where the images will be-->
                <div class="resource-img">
                    {% include svg/_ionicons_svg_ios-link.svg %}
                </div>
                <div class="resource-body">
                    <h4 class="resource-title">
                        Site
                    </h4>
                </div>
            </li>
        </a>
        <a href="/getting-started" target="_blank" class="resource-link">
            <li class="resource-card">
                <!--Where the images will be-->
                <div class="resource-img">
                    {% include svg/logo-hfla-small.svg %}
                </div>
                <div class="resource-body">
                    <h4 class="resource-title">
                        Getting Started
                    </h4>
                </div>
            </li>
        </a>
    </ul>
</div>