<div class="row mb-3">
    <label class="col-form-label col-3" for="num-leads">Number of leadership members: </label>
    <div class="col-2">
        <input type="number" class="form-control" id="num-leads" value="1" min="1" max="10">
    </div>
</div>
<div class="row mb-1">
    <div class="col-1">
        No.
    </div>
    <div class="col-4">
        <label class="form-label">Name</label>
    </div>
    <div class="col-3">
        <label class="form-label">Role</label>
    </div>
    <div class="col-4">
        <label class="form-label">GitHub Username</label>
    </div>
</div>
<div class="mb-3" id="leadership-rows"></div>
<button type="button" class="btn btn-primary my-3" id="back-button-3">Back</button>
<button type="button" class="btn btn-primary my-3" id="next-button-3">Next</button>
<script type="module" src="./assets/js/part-3.js"></script>