.leader-card {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 24% auto;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(51,51,51,0.2);
    margin: auto 32px auto 0px;
    margin-bottom: 25px;
    width: 46%;
  
    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      width: auto;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: auto auto 25px auto;
    }
}

.leader-description {
    padding: 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @media #{$bp-below-mobile} {
      min-width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
    }
}
  
.leader-description-field {
    margin-block-end: 0.25em;
}

.leader-img {
    margin: 12px 12px 12px 12px;
    width: 70px;
    min-width: 40px;
    border-radius: 12px;
}

.resource-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 21px;
  
    // NEW MOBILE FRIENDLY RULES
    @media #{$bp-below-mobile} {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0px;
    }
}