.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
  
    > li {
      display: inline-block;
      margin-right: 15px;
  
      &:last-child {
        margin-right: 0;
      }
    }
}

.js-inline-link {
    display: inline-block;
    @include size(24px);
  
    &.js-inline-link-meetup {
      @include size(89px, 32px);
    }
    .icon {
      @include size(100%);
    }
}  

.main-footer {
    background: $color-darkblue;
    color: $color-white;
    padding: 42px 25px 20px;
  
    a {
      color: $color-white;
      text-decoration: none;
    }
  
    .btn--donate-footer {
      display: block;
      margin: 0 auto;
  
      @media #{$bp-mobile-up} {
        margin: 0 0 25px auto;
      }
    }
  
    .footer-links {
      display: flex;
      flex-wrap: wrap-reverse; 
      justify-content: center;
      margin: 15px 0 15px 0;
  
      @media #{$bp-mobile-up} {
        justify-content: space-between;
        margin: 0;
      }
    }
  
    .header-list {
      margin: 0 0 15px 6px;
  
      @media #{$bp-mobile-up} {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }
}