<div class="row mb-3">
    <div class="col">
        <label class="form-label" for="project-image">Upload a project image</label>
        <input type="file" class="form-control" id="project-image" name="project-image" accept="image/*">
        <img src="" class="img-fluid mt-1 img-thumbnail mb-3" id="project-image-preview">
        <div class="input-group">
            <span class="input-group-text">Alt-text</span>
            <input type="text" class="form-control" id="project-image-alt">
        </div>
    </div>

    <div class="col">
        <label class="form-label" for="project-hero">Upload a hero image</label>
        <input type="file" class="form-control" id="project-hero" name="project-hero" accept="image/*">
        <img src="" class="img-fluid mt-1 img-thumbnail mb-3" id="project-hero-preview">
        <div class="input-group">
            <span class="input-group-text">Alt-text</span>
            <input type="text" class="form-control" id="project-hero-alt">
        </div>
    </div>
</div>
<div class="row">
    <p>Don't know what good alt text is? Check out <a href="https://moz.com/learn/seo/alt-text" target="_blank">this resource</a> for help.</p>
</div>

<button type="button" class="btn btn-primary mb-3" id="back-button-4">Back</button>
<a class="btn btn-primary mb-3" href="./preview" id="submit-button">Submit</a>
<script type="module" src="./assets/js/project-form/part-4.js"></script>