---
permalink: /artorsaki
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I Ship ArtoriaxSasaki</title>
    <link rel="stylesheet" href="{{ '/assets/css/artorsaki.css' | relative_url }}">

    <!-- Import Roboto font from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        {% include header.html %}
        <main role="main" id="content">
            {% include artorsaki/hero.html %}

            <div class="content-section project-home-page">
                <!--Project Description Card-->
                {% include artorsaki/project-overview.html %}

                <!--Project Resources Card-->
                {% include artorsaki/resources.html %}

                <!-- Project Team Card -->
                <div id="project-team-card"
                    class="page-card card-primary page-card-lg page-card--project-description-page">
                    {% include artorsaki/current-project-team.html %}
                    {% include artorsaki/all-time-contributors.html %}
                </div>
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>

</html>