---
permalink: /preview
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>I Ship ArtoriaxSasaki</title>
    <link rel="stylesheet" href="{{ '/assets/css/project-preview.css' | relative_url }}">

    <!-- Import Roboto font from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        {% include header.html %}
        <main role="main" id="content">
            <nav id="sticky-nav" class="sticky-nav stick-it">
                <ul>
                    <h3>Menu</h3>
                    <li><a href='./artorsaki'>Return to ArtorSaki</a></li>
                    <li><a href='./results'>Go to finishing page</a></li>
                    <p>Note: The preview shown on this page is only an approximation of how it will reflect on the website. Final results might differ.</p>
                </ul>
            </nav>
            {% include project-preview/hero.html %}

            <div class="content-section project-home-page">
                <!--Project Description Card-->
                {% include project-preview/project-overview.html %}

                <!--Project Resources Card-->
                {% include project-preview/resources.html %}

                <!-- Project Team Card -->
                <div id="project-team-card"
                    class="page-card card-primary page-card-lg page-card--project-description-page">
                    {% include project-preview/current-project-team.html %}
                    {% include project-preview/all-time-contributors.html %}
                </div>
            </div>
        </main>
        {% include footer.html %}
    </div>
</body>

</html>