name: Issue Trigger
on:
  issues:
    types: [opened]

jobs:
  Reformat-Project-Card-Update-Issue:
    runs-on: ubuntu-latest
    # Only trigger this action when an issue is newly created
    if: ${{ github.event_name == 'issues' && github.event.action == 'opened' && contains(github.event.issue.labels.*.name, 'project card update')}}
    steps:
      - uses: actions/checkout@v2      
      # Check if the issue has required labels
      - name: Edit Top Comment
        uses: actions/github-script@v4
        with:
          script: |
            var loc = window.location.pathname;
            var dir = loc.substring(0, loc.lastIndexOf('/'));
            console.log(loc, dir)
            const script = require('.\.github/github-actions/trigger-issue/reformat-project-card-update-issue/edit-top-comment.js')
            script({g: github, c: context})
